app/__pycache__/runner.cpython-310.pyc
app/__pycache__/config.cpython-310.pyc
app/__pycache__/main.cpython-310.pyc
app/__pycache__/monitor.cpython-310.pyc
/envs/app_env
/envs/midas_cloud_env
/envs/midas_env
/envs/mvsnet_env
/outputs/dataset_01/_runs
/outputs/dataset_01/colmap/dense/images
/outputs/dataset_01/colmap/dense/stereo/consistency_graphs
/outputs/dataset_01/colmap/dense/stereo/depth_maps
/outputs/dataset_01/colmap/dense
/outputs/dataset_01/colmap/dense
/outputs/dataset_01/colmap/logs
/outputs/dataset_01/colmap/sparse
/outputs/dataset_01/midas/colmap
*.db
*.vis
*.log
*.npy
/outputs/dataset_01/MVSNet/colmap_sfm
/outputs/dataset_01/MVSNet/PatchmatchNet/cams
/outputs/dataset_01/MVSNet/logs
/outputs/dataset_01/MVSNet/PatchmatchNet/images
/outputs/dataset_01/MVSNet/PatchmatchNet/results/confidence
/outputs/dataset_01/MVSNet/PatchmatchNet/results/depth_est
outputs/dataset_01/MVSNet/PatchmatchNet/pair.txt
/outputs/dataset_01/MVSNet/PatchmatchNet/results/mask
/outputs/dataset_02/_runs
*.ply
/outputs/dataset_02/colmap/dense/images
*.bin
/outputs/dataset_02/colmap/sparse
/outputs

